/* CONTAINER */
.home {
  padding: 10px;
}

/* HEADER */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.home-header h2 {
  font-size: 16px;
  font-weight: 500;
}

.home-header span {
  font-size: 11px;
  color: var(--text-soft);
}

/* BOTÕES */
.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions button {
  background: var(--bg-secondary);
  border: 1px solid var(--border);
  padding: 7px;
  cursor: pointer;
  border-radius: 0;
  color: var(--text-soft); /* 🔥 ESSENCIAL */
  transition: 0.2s;
}

/* 🔥 ÍCONES (FORÇA TUDO) */
.actions button svg,
.actions button svg * {
  stroke: currentColor !important;
  fill: currentColor !important;
}

/* HOVER */
.actions button:hover {
  border-color: var(--accent);
  color: var(--accent);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .home {
    padding: 0;
  }
}